apache-airflow[http,sftp,ssh,hashicorp,amazon,singularity]==2.1.3 
git+https://github.com/pbranson/dembuilder.git
windrose
pyschism
git+https://github.com/dirkcgrunwald/jupyter_codeserver_proxy-.git
git+https://github.com/NickMortimer/pyram
